<div class="p-6 border-muted/20 bg-background border rounded-xl over">
  <button hlmBtn (click)="onCreateCompanyType()">Agregar Tipo de Empresa</button>

  <!-- <app-data-table [columns]="columns" [data]="data" [actions]="actions"></app-data-table> -->

  <hlm-dialog [state]="isModalOpen ? 'open' : 'closed'" (closed)="onModalClose()">
    <hlm-dialog-content *brnDialogContent="let ctx">
      <hlm-dialog-header class="max-w-xl md:min-w-md">
        <h3 hlmDialogTitle>
          {{ selectedCompanyType ? 'Actualizar Tipo de Empresa' : 'Crear Tipo de Empresa' }}
        </h3>
        <p hlmDialogDescription>
          {{
            selectedCompanyType
              ? 'Actualice los detalles del tipo de empresa.'
              : 'Complete los detalles para crear un nuevo tipo de empresa.'
          }}
        </p>
      </hlm-dialog-header>

      <form [formGroup]="form" class="space-y-6">
        <hlm-form-field>
          <label class="block" hlmLabel>
            Nombre del Tipo de Empresa
            <input
              aria-label="Nombre"
              formControlName="name"
              autocomplete="off"
              class="mt-1.5 w-full"
              hlmInput
              type="text"
              placeholder="Nombre"
            />
          </label>

          <hlm-error>El nombre es requerido</hlm-error>
        </hlm-form-field>

        <hlm-form-field>
          <label class="block" hlmLabel>
            Descripción
            <input
              aria-label="Descripción"
              formControlName="description"
              autocomplete="off"
              class="mt-1.5 w-full"
              hlmInput
              type="text"
              placeholder="Descripción"
            />
          </label>

          <hlm-error>La descripción es requerida</hlm-error>
        </hlm-form-field>
      </form>

      <hlm-dialog-footer>
        <button hlmBtn variant="destructive" (click)="onModalClose()">Cancelar</button>
        <button hlmBtn variant="default" [disabled]="form.invalid" (click)="onConfirmAction()">
          {{ selectedCompanyType ? 'Actualizar' : 'Crear' }}
        </button>
      </hlm-dialog-footer>
    </hlm-dialog-content>
  </hlm-dialog>

  <hlm-dialog [state]="isConfirmationOpen ? 'open' : 'closed'" (closed)="onModalClose()">
    <hlm-dialog-content *brnDialogContent="let ctx">
      <hlm-dialog-header class="max-w-md">
        <h3 hlmDialogTitle>Confirmar Eliminación</h3>
        <p hlmDialogDescription>
          ¿Estás seguro de que deseas eliminar el tipo de empresa {{ selectedCompanyType?.name }}?
        </p>
      </hlm-dialog-header>

      <hlm-dialog-footer>
        <button hlmBtn variant="default" (click)="onModalClose()">Cancelar</button>
        <button hlmBtn variant="destructive" (click)="onConfirmDeletion()">Eliminar</button>
      </hlm-dialog-footer>
    </hlm-dialog-content>
  </hlm-dialog>
</div>
