@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
layer(base);

@import '@angular/cdk/overlay-prebuilt.css';

@import 'tailwindcss';

/** Plugins **/
@import './assets/styles/apexchart.css';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-poppins: Poppins, system-ui, sans-serif;
  --font-nunito: Nunito Sans, sans-serif;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in-down: fade-in-down 0.3s ease-out;
  --animate-fade-out-down: fade-out-down 0.3s ease-out;
  --animate-fade-in-up: fade-in-up 0.3s ease-out;
  --animate-fade-out-up: fade-out-up 0.3s ease-out;

  --shadow-custom: 0px 0px 50px 0px rgb(82 63 105 / 15%);

  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-ring: var(--ring);

  --radius: 0.5rem;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-down {
    from {
      opacity: 1;
      transform: translateY(0px);
    }

    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-up {
    from {
      opacity: 1;
      transform: translateY(0px);
    }

    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}

@utility container {
  padding-inline: 1rem;

  @media (width >=theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }

  @media (width >=theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }

  @media (width >=theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }

  @media (width >=theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility dropdown-content {
  @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;

  .dropdown:hover > & {
    @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
  }
}

@utility dropdown {
  &:hover > .dropdown-content {
    @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
  }
}

@layer base {
  :root {
    /* Default background color of <body>,... etc. */
    --background: #ffffff;
    --foreground: #0c1420;

    /* Muted backgrounds such as <hlm-sekleton/> */
    --muted: #cfd9e5;
    --muted-foreground: #64748b;

    /* Background color for <div hlmCard>...</> */
    --card: #f1f5f9;
    --card-foreground: #000000;

    /* Background color for popovers such as <brn-popover>...</> */
    --popover: #ffffff;
    --popover-foreground: #171923;

    /* Border color for inputs such as <input hlmInput />, <textarea hlmInput >...</> */
    --border: #e2e8f0;
    --input-border: #e2e8f0;

    /* Primary colors for <button hlmBtn /> */
    --primary: #e11d48;
    --primary-foreground: #ffffff;

    /* Secondary colors for <button hlmBtn /> */
    --secondary: #f1f5f9;
    --secondary-foreground: #000000;

    /* Used for accents such as hover effects on <brnMenuItem hlm/> */
    --accent: #e7f2fb;
    --accent-foreground: #171923;

    /* Used for destructive actions such as <button hlmBtn variant="destructive" /> */
    --destructive: #cc0033;
    --destructive-foreground: #fafafa;

    /* Used for focus ring */
    --ring: #7fa1c8;

    /* Border radius for card, input and buttons */
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #f2f2f2;

    --muted: #262626;
    --muted-foreground: #a3a3a3;

    --card: #121212;
    --card-foreground: #262626;

    --popover: #ffffff;
    --popover-foreground: #171923;

    --border: #262626;
    --input-border: #262626;

    --primary: #e11d48;
    --primary-foreground: #ffffff;

    --secondary: #1a1a1a;
    --secondary-foreground: #f2f2f2;

    --accent: #e7f2fb;
    --accent-foreground: #171923;

    --destructive: #cc0033;
    --destructive-foreground: #fafafa;

    --ring: #7fa1c8;

    --radius: 0.5rem;
  }

  :root[data-theme='violet'] {
    --primary: #6e56cf;
  }

  .dark[data-theme='violet'] {
    --background: #060815;
    --foreground: #f6f8fb;
    --card: #0b0f1a;
    --card-foreground: #f6f8fb;
    --primary-foreground: #f6f8fb;
    --muted: #232b3d;
    --muted-foreground: #a1a8bf;
    --border: #232b3d;
  }

  :root[data-theme='red'] {
    --primary: #cc0033;
  }

  .dark[data-theme='red'] {
    --primary-foreground: #ffe5e5;
  }

  :root[data-theme='blue'] {
    --primary: #2490ff;
  }

  .dark[data-theme='blue'] {
    --background: #02080f;
    --foreground: #f8fafc;
    --card: #0b1117;
    --card-foreground: #f8fafc;
    --primary-foreground: #0f1729;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --border: #1e293b;
  }

  :root[data-theme='orange'] {
    --primary: #ea580c;
  }

  .dark[data-theme='orange'] {
    --background: #0c0a09;
    --foreground: #fafaf9;
    --card: #141110;
    --card-foreground: #fafaf9;
    --primary-foreground: #fafaf9;
    --muted: #292524;
    --muted-foreground: #a8a29e;
    --border: #292524;
  }

  :root[data-theme='yellow'] {
    --primary: #facc15;
  }

  .dark[data-theme='yellow'] {
    --background: #0c0a09;
    --foreground: #fafaf9;
    --card: #141110;
    --card-foreground: #fafaf9;
    --primary: #facc15;
    --primary-foreground: #422006;
    --muted: #292524;
    --muted-foreground: #a8a29e;
    --border: #292524;
  }

  :root[data-theme='green'] {
    --primary: #22c55e;
  }

  .dark[data-theme='green'] {
    --primary: #22c55e;
    --primary-foreground: #052e16;
  }
}

/** Scroll bar **/
@supports selector(::-webkit-scrollbar) {
  .supports-scrollbars\: pr-2 {
    padding-right: 0.5rem;
  }
}

/** Custom Forms **/
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply w-full rounded-md border border-border bg-background text-xs text-foreground placeholder-muted-foreground focus:z-10 focus:border-primary focus:outline-hidden focus:ring-primary;
}

[type='checkbox'],
[type='radio'] {
  @apply h-4 w-4 rounded-sm border-border bg-background checked:border-primary checked:bg-primary indeterminate:border-primary indeterminate:bg-primary focus:ring-2 focus:ring-primary;
}

.is__invalid-input {
  @apply border border-destructive focus:border-destructive focus:outline-hidden focus:ring-transparent;
}

.is__invalid-error {
  @apply px-1 pt-1 text-xs text-destructive;
}
